<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :sqfoot %><br />
    <%= f.number_field :sqfoot %>
  </div>
  <div class="field">
    <%= f.label :levels %><br />
    <%= f.number_field :levels %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br />
    <%= f.number_field :bathrooms %>
  </div>
  <div class="field">
    <%= f.label :price_range %><br />
    <%= f.number_field :price_range %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
