<iframe src="/designs/A-2.1.pdf"></iframe>
<%- model_class = Plan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for @q do |f| %>
<div class="field span4">
<%= f.label :sqfoot_gteq, "Square Footage Between" %>
<%= f.text_field :sqfoot_gteq %>
<%= f.label :sqfoot_lteq, "and" %>
<%= f.text_field :sqfoot_lteq %>

<%= f.label :bedrooms_eq, "Bedrooms" %>
<%= f.select :bedrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %>

  <%= f.label :bathrooms_eq, "Bathrooms" %>
<%= f.select :bathrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %>
	
	  <%= f.label :half_bath_eq, "Half-Bathrooms" %>
	<%= f.select :half_bath_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3]]), :class => 'select_field'  %>
	</div>
<div class="field span4">
	<%= f.label :living_eq, "Number of Living Areas" %>
	<%= f.select :living_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %>	
	
	<%= f.label :dining_eq, "Number of Dining Areas" %>
	<%= f.select :dining_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %>
	
	<%= f.label :stories_eq, "Levels" %>
	<%= f.select :stories_eq, options_for_select([[''],['Single-Story', 1], ['Multi-Story', 2]]), :class => 'select_field' %>
	
	<%= f.label :suite_eq, "Owners' Suite Location" %>
	<%= f.select :suite_eq, options_for_select([[''],['Any Level', 1], ['Primary Level', 2],['Secondary Level', 3]]), :class => 'select_field' %>
<p>
  <%= f.submit %>

<%= link_to "Start Over", "/plans" %></p>
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:drawing) %></th>
      <th><%= model_class.human_attribute_name(:bedrooms) %></th>
      <th><%= model_class.human_attribute_name(:sqfoot) %></th>
      <th><%= model_class.human_attribute_name(:levels) %></th>
      <th><%= model_class.human_attribute_name(:bathrooms) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to image_tag plan.drawing(:medium) %></td>
        <td><%= link_to plan.bedrooms, plan_path(plan) %></td>
        <td><%= plan.sqfoot %></td>
        <td><%= plan.levels %></td>
        <td><%= plan.bathrooms %></td>


        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_plan_path(plan), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      plan_path(plan),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_plan_path,
            :class => 'btn btn-primary' %>
